MAX_SPEED 0.0
LOAD_FIELD 0
ENABLE_TRAJECTORY_RECORDING_MODE 0
SELECTED_FIELD null
SELECTED_TRAJECTORY null
SELECTED_MISSION_PLAN myfieldyyy.field.mp
DEFAULT_CAMERA_CONFIG default.cameras
START_ROW 0
SKIP_ROWS_EVERY 0
TOTAL_ROWS 0
HEADING_PREFERENCE 0
NAVIGATION_PREFERENCE 0
NAVIGATION_ENDING_PREFERENCE 0
MISSION_PLAN_TYPE 3
START_LATITUDE 0.0
START_LONGITUDE 0.0
